In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("ggplot")
%matplotlib inline

In [59]:
data = pd.read_csv("application_data.csv")

In [60]:
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

In [61]:
data.shape

(1000, 9)

In [62]:
data["appilcationDate"].dtype

dtype('O')

In [63]:
data["appilcationDate"] = pd.to_datetime(data["appilcationDate"])

In [64]:
data_2019 = data.loc[data["appilcationDate"].dt.year == 2019]

In [65]:
data_2019.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
9,380684555,302997991362,2019-01-03,4,30000.0,10.0,90,2019-04-02,2019-01-11
26,153423083,303028288661,2019-01-10,1,11000.0,27.0,45,2019-02-24,2019-01-10
28,301885486,302990564127,2019-01-01,2,11000.0,27.0,45,2019-02-15,2019-01-04

In [66]:
data_2019["week_number"] = data_2019["appilcationDate"].dt.week

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
d19_wk_no = data_2019.groupby("week_number").agg({"LoanAmount":"sum"})
d19_wk_no

             LoanAmount
week_number
1             1152500.0
2              563500.0
3               71500.0

In [68]:
data_2018 = data[(data["appilcationDate"].dt.year==2018)&(data["appilcationDate"] <="2018-01-31")]

In [69]:
data_2018.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
393,GH37504396,100012838,2018-01-14,1,80.0,15.0,15,2018-01-29,2018-01-29
396,GH84759681,100015781,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-12
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01
398,GH04894087,100011235,2018-01-08,2,80.0,15.0,15,2018-01-23,2018-01-22
401,GH27599183,100014393,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-05

In [70]:
data_2018["week_number"] = data_2018["appilcationDate"].dt.week

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
data_2018.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,week_number
393,GH37504396,100012838,2018-01-14,1,80.0,15.0,15,2018-01-29,2018-01-29,2
396,GH84759681,100015781,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-12,4
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,5
398,GH04894087,100011235,2018-01-08,2,80.0,15.0,15,2018-01-23,2018-01-22,2
401,GH27599183,100014393,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-05,3

In [72]:
d18_wk_no = data_2018.groupby("week_number").agg({"LoanAmount":"sum"})

In [73]:
d18_wk_no

             LoanAmount
week_number
1              289540.0
2              211920.0
3              173780.0
4              203940.0
5               98460.0

In [75]:
bar_width = 0.2
d19_jan = d19_wk_no
d18_jan = d18_wk_no.iloc[:3, :]
plt.bar(axis - 0.2, d19_jan, width = bar_width, label = "Nigeria" )
plt.bar(axis + 0.2, d18_jan, width = bar_width, label = "Sudan")

plt.xticks(temp_axis,year) # replace the current arange tick values to actual year values

plt.legend()
plt.show()

NameError: name 'axis' is not defined